.wrapper{
  padding: 9px 16px;
  min-width: 100px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;
  // display: flex;
  display: inline-flex;
  + .wrapper{
  margin-left: 16px;
  }
}
.icon + .title , .title + .icon {
  margin-left: 8px;
}
.icon{
  display:inline;
  font-size: 20px;
  text-align: center;
}

// Button styles

.rounded{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  font-weight: 700;
  min-width: 90px;
  border: 1px solid rgba(22, 24, 35, .12);
  border-radius: 52px;

    &:hover{
      border-color: rgba(22, 24, 35, .2);
      background-color: rgba(255, 255, 255, 0.03);
    }
}

.primary{
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover{
  border-color: var(--primary);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
}

}
.outline{
  color:  var(--primary);
  border-color: currentColor;

  &:hover{
  background-color: rgba(254, 44, 85, 0.06);
}
}
.text{

  &:hover{
  text-decoration: underline;
  }
}


// disabled

.disabled{
  pointer-events: none;
  cursor: none;
  opacity: 0.4;
  
}
// Button size

.small{
  min-width: 88px;
  padding: 4px  16px;
}
.large{
  padding: 14px 16px;
  width: 200px;
}